### 28-05-2020

### Objectives 
* challanges with current code 
* Understanding Pipeline 
* solving problems using pipe line 
* challanges with pipeline 
* solving hetrogenious data problem with column transformer

### Challanges with current code
* the developer should do preprocessing manually and followed by putting data in estimators

In [1]:
from sklearn.datasets import load_digits

In [2]:
digits = load_digits()

In [3]:
digits.data.shape

(1797, 64)

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
trainX,testX,trainY,testY = train_test_split(digits.data,digits.target)

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
ss = StandardScaler()

In [8]:
trainX_tf = ss.fit_transform(trainX)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
rf = RandomForestClassifier()

In [11]:
rf.fit(trainX_tf,trainY)

RandomForestClassifier()

In [12]:
#This is incorrect, testX isn't tranformed
#rf.predict(testX)

In [13]:
testX_tf = ss.fit_transform(testX)

In [14]:
rf.predict(testX_tf)

array([0, 6, 2, 2, 9, 9, 8, 1, 5, 9, 2, 9, 7, 2, 0, 8, 9, 3, 5, 2, 5, 0,
       6, 3, 3, 9, 8, 5, 8, 7, 9, 5, 2, 1, 3, 1, 4, 7, 6, 1, 7, 5, 1, 4,
       8, 2, 1, 8, 7, 0, 3, 6, 6, 1, 1, 7, 1, 6, 2, 5, 5, 8, 5, 0, 4, 2,
       5, 7, 6, 5, 6, 0, 1, 0, 3, 4, 5, 4, 9, 3, 8, 5, 4, 4, 9, 8, 4, 8,
       8, 3, 4, 5, 6, 8, 6, 8, 7, 2, 8, 0, 8, 7, 0, 1, 6, 6, 0, 5, 4, 0,
       4, 5, 4, 8, 2, 5, 8, 8, 4, 6, 6, 6, 6, 6, 1, 5, 1, 4, 0, 5, 1, 1,
       6, 8, 8, 2, 3, 7, 7, 7, 1, 5, 7, 4, 1, 9, 5, 4, 1, 6, 0, 1, 2, 6,
       0, 9, 4, 1, 4, 2, 5, 9, 5, 6, 9, 1, 6, 9, 8, 4, 2, 6, 2, 3, 4, 3,
       7, 1, 6, 7, 6, 7, 8, 4, 4, 5, 2, 1, 9, 1, 8, 5, 3, 2, 5, 4, 8, 2,
       9, 0, 2, 2, 7, 4, 5, 0, 0, 5, 0, 6, 6, 9, 2, 8, 1, 7, 2, 4, 3, 1,
       5, 4, 4, 1, 3, 5, 4, 6, 6, 8, 4, 3, 0, 9, 8, 2, 0, 2, 1, 4, 3, 1,
       3, 3, 7, 9, 7, 1, 2, 0, 4, 3, 2, 3, 9, 6, 5, 1, 9, 5, 2, 5, 2, 3,
       0, 8, 7, 1, 8, 3, 4, 3, 5, 7, 1, 2, 2, 6, 5, 6, 1, 3, 6, 9, 0, 4,
       0, 3, 1, 4, 7, 5, 6, 6, 7, 9, 3, 7, 8, 6, 9, 3, 0, 7, 6, 9, 6, 7,
       0, 6, 1, 4, 4, 3, 1, 5, 7, 0, 1, 5, 7, 0, 1, 4, 9, 0, 2, 7, 2, 7,
       8, 1, 8, 2, 0, 3, 7, 9, 8, 0, 3, 4, 3, 1, 7, 4, 7, 2, 0, 6, 9, 7,
       4, 7, 0, 8, 9, 3, 9, 7, 8, 0, 6, 7, 3, 1, 7, 8, 2, 5, 2, 9, 8, 5,
       4, 9, 6, 5, 7, 5, 1, 1, 6, 2, 7, 9, 7, 9, 4, 8, 7, 9, 7, 6, 7, 6,
       7, 9, 4, 9, 3, 7, 9, 5, 9, 0, 5, 3, 4, 2, 9, 4, 3, 7, 6, 0, 9, 4,
       8, 2, 0, 2, 5, 5, 6, 0, 0, 3, 5, 6, 0, 6, 4, 1, 2, 5, 3, 5, 3, 5,
       5, 5, 9, 6, 1, 7, 0, 0, 7, 1])

### challanges :
* Different features need different preprocessing techniques
* It's very cumborsome to do the things current way 
* we have to preserve manually all the preprocessors used

### Pipeline:
* It connects all the preprocessors and estimators & thus removes the need to store tham manually

In [15]:
from sklearn.pipeline import make_pipeline

In [16]:
digit_pipeline = make_pipeline(StandardScaler(),RandomForestClassifier())

In [17]:
digit_pipeline.fit(trainX,trainY)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestclassifier', RandomForestClassifier())])

In [18]:
digit_pipeline.predict(testX)

array([0, 6, 2, 2, 9, 9, 8, 1, 5, 9, 2, 9, 7, 2, 0, 8, 9, 3, 5, 2, 5, 0,
       6, 3, 3, 9, 8, 5, 8, 7, 9, 5, 2, 1, 3, 1, 4, 7, 6, 1, 7, 5, 1, 4,
       8, 2, 1, 4, 7, 0, 3, 6, 6, 1, 1, 7, 1, 6, 2, 5, 5, 8, 5, 0, 4, 2,
       5, 7, 6, 5, 6, 0, 1, 0, 3, 4, 5, 4, 9, 3, 8, 5, 4, 4, 9, 8, 4, 8,
       8, 3, 4, 5, 6, 8, 6, 8, 7, 2, 8, 0, 8, 7, 0, 1, 6, 6, 0, 5, 4, 0,
       4, 5, 4, 8, 2, 5, 8, 8, 4, 6, 6, 6, 6, 6, 1, 5, 1, 4, 0, 5, 1, 1,
       6, 8, 7, 2, 3, 7, 7, 9, 1, 5, 7, 4, 1, 9, 5, 4, 1, 6, 0, 1, 2, 6,
       0, 9, 4, 1, 4, 2, 5, 3, 5, 6, 9, 1, 6, 9, 8, 4, 2, 6, 2, 3, 4, 3,
       7, 1, 6, 7, 6, 7, 8, 4, 4, 5, 2, 1, 9, 1, 8, 5, 3, 2, 5, 4, 8, 2,
       9, 0, 2, 2, 7, 4, 5, 0, 0, 5, 0, 6, 6, 9, 2, 8, 1, 7, 2, 4, 3, 1,
       5, 4, 4, 1, 3, 5, 4, 6, 6, 8, 4, 3, 0, 9, 8, 2, 0, 2, 1, 4, 3, 1,
       3, 3, 7, 9, 7, 1, 2, 0, 4, 3, 2, 3, 9, 6, 5, 1, 9, 5, 2, 5, 2, 3,
       0, 8, 7, 1, 8, 3, 4, 3, 5, 7, 1, 2, 2, 6, 5, 6, 1, 3, 6, 9, 0, 4,
       0, 3, 1, 4, 7, 5, 6, 6, 7, 9, 3, 7, 8, 6, 9, 3, 0, 7, 6, 9, 6, 7,
       0, 6, 1, 4, 4, 3, 1, 5, 7, 0, 1, 5, 7, 0, 1, 4, 9, 0, 2, 7, 2, 7,
       8, 1, 8, 2, 0, 3, 7, 9, 8, 0, 3, 4, 3, 1, 7, 4, 7, 2, 0, 6, 9, 7,
       4, 7, 0, 8, 9, 3, 9, 7, 8, 0, 6, 7, 3, 1, 7, 8, 2, 5, 2, 9, 8, 5,
       4, 9, 6, 5, 7, 5, 1, 1, 6, 2, 7, 9, 7, 9, 4, 8, 7, 9, 7, 6, 7, 6,
       7, 7, 4, 9, 3, 7, 9, 5, 9, 0, 5, 3, 4, 2, 9, 4, 3, 7, 6, 0, 9, 4,
       8, 2, 0, 2, 3, 5, 6, 0, 0, 3, 5, 6, 0, 6, 4, 1, 2, 5, 3, 5, 3, 5,
       5, 5, 9, 6, 1, 7, 0, 0, 7, 1])

In [19]:
digit_pipeline.steps[1][1].feature_importances_

array([0.00000000e+00, 1.87019314e-03, 1.98015028e-02, 9.43282618e-03,
       9.68856702e-03, 1.89752575e-02, 9.82222329e-03, 8.50604416e-04,
       3.86582873e-05, 1.15759405e-02, 2.47954525e-02, 8.25629781e-03,
       1.56590394e-02, 2.66805020e-02, 6.79345508e-03, 4.33106700e-04,
       3.10088987e-05, 9.15364526e-03, 2.12022322e-02, 2.55496275e-02,
       3.09539917e-02, 4.54834827e-02, 9.91925607e-03, 3.39082256e-04,
       0.00000000e+00, 1.52583178e-02, 4.12766165e-02, 2.35367367e-02,
       3.64596250e-02, 2.25695395e-02, 3.27125324e-02, 0.00000000e+00,
       0.00000000e+00, 2.53047100e-02, 2.83935014e-02, 1.89407941e-02,
       4.58483862e-02, 2.00804595e-02, 2.71684589e-02, 0.00000000e+00,
       6.39211062e-05, 9.06413757e-03, 3.55203159e-02, 4.61748520e-02,
       2.00198192e-02, 1.60854974e-02, 1.89847785e-02, 1.50253637e-04,
       1.05629022e-04, 2.64723512e-03, 1.51049844e-02, 2.09535052e-02,
       1.29478844e-02, 2.09690322e-02, 2.68924223e-02, 2.43739810e-03,
       2.76677198e-05, 1.84798898e-03, 1.98491164e-02, 1.08469259e-02,
       2.38659930e-02, 3.00795633e-02, 1.73382859e-02, 3.16716175e-03])

### Connecting Pipeline with Hyper parameter tuning:
* we could determine the beat combination of hyper parameters for preprocessor and estimator

In [20]:
from sklearn.feature_selection import SelectKBest,f_classif

In [21]:
digit_pipeline = make_pipeline(StandardScaler(), SelectKBest(k=10, score_func=f_classif), RandomForestClassifier(n_estimators=100))

In [22]:
digit_pipeline

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('selectkbest', SelectKBest()),
                ('randomforestclassifier', RandomForestClassifier())])

In [23]:
from sklearn.model_selection import GridSearchCV

In [24]:
#params = {'selectkbest__k':[20,30,40],'randomforestclassifier__n_estimators':[100,200]}

In [25]:
params = {'selectkbest__k':[60,65,70],'randomforestclassifier__n_estimators':[300,400]}

In [26]:
gs = GridSearchCV(digit_pipeline,param_grid=params,cv=5,n_jobs=4)

In [27]:
gs.fit(trainX,trainY)

C:\Users\saket\Anaconda333\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:115: UserWarning: Features [ 0 32 39] are constant.
  UserWarning)
C:\Users\saket\Anaconda333\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('selectkbest', SelectKBest()),
                                       ('randomforestclassifier',
                                        RandomForestClassifier())]),
             n_jobs=4,
             param_grid={'randomforestclassifier__n_estimators': [300, 400],
                         'selectkbest__k': [60, 65, 70]})

In [28]:
gs.best_params_

{'randomforestclassifier__n_estimators': 300, 'selectkbest__k': 60}

In [29]:
gs.best_score_

0.9799531873881315

In [30]:
gs.best_estimator_

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('selectkbest', SelectKBest(k=60)),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=300))])

In [31]:
gs.best_index_

0

### column transformer for dealing with hetrogenious data :
* Rrgular pipeline intends to do same pipeline for all the columns 
* This doesn't wort for hetrogenious data

<Img src = "https://camo.githubusercontent.com/82ec7d9816d964e54f028d2ce5223ac529dd740e/68747470733a2f2f6769746875622e636f6d2f6564796f64612f446174612d536369656e746973742d70726f6772616d2f626c6f622f6d61737465722f41737369676e6d656e742f696d616765732f436f6c756d6e5472616e666f726d65722e706e673f7261773d74727565">

In [32]:
import pandas as pd

In [33]:
hr_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt')

In [34]:
hr_data.rename({"Sales":"dept"},inplace=True)

In [35]:
hr_data.sample(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
10908,0.47,0.46,2,152,2,0,0,0,IT,medium
6680,0.78,0.72,4,258,3,0,0,0,technical,medium
13675,0.49,0.66,3,155,3,0,0,1,sales,low
5126,0.80,0.75,3,134,4,0,0,0,sales,medium
8193,0.17,0.85,6,245,5,0,0,0,sales,medium
8533,0.59,0.93,5,172,2,0,0,0,technical,medium
12776,0.10,0.97,6,254,5,0,1,0,sales,medium
9030,0.94,0.69,3,269,3,0,0,0,sales,low
9035,0.65,0.54,4,191,4,0,0,0,accounting,medium
12688,0.09,0.82,6,257,4,0,1,0,accounting,medium

In [36]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [37]:
hr_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [38]:
feature_data = hr_data.drop(columns = ['left'])

In [39]:
target_data = hr_data.left

__Defferent columns need different preprocessing__

In [40]:
cat_data = feature_data.select_dtypes(include=['object'])

In [41]:
#satisfaction_level & last_evaluation don't need preprocessing
#number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years need MinMaxScaler
#dept & Salary need OrdinalEncoder
feature_data.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [42]:
float_data = feature_data.select_dtypes(include=['float'])

In [43]:
float_data[:3]

   satisfaction_level  last_evaluation
0                0.38             0.53
1                0.80             0.86
2                0.11             0.88

In [44]:
int_data = feature_data.select_dtypes(include=['int'])

In [45]:
from sklearn.preprocessing import OrdinalEncoder,MinMaxScaler
from sklearn.impute import SimpleImputer

In [46]:
#cat_pipeline = make_pipeline(SimpleImputer(),OrdinalEncoder())
#SimpleImpter is for handling missing data in pipeline

cat_pipeline = make_pipeline(OrdinalEncoder())

In [47]:
int_pipeline = make_pipeline(MinMaxScaler(), SelectKBest(k=3,score_func=f_classif))

In [48]:
from sklearn.compose import make_column_transformer

In [49]:
preprocessor = make_column_transformer(
               (cat_pipeline,cat_data.columns),
               (int_pipeline,int_data.columns),
               remainder = "passthrough"
)

In [50]:
pipeline = make_pipeline(preprocessor,RandomForestClassifier())

In [51]:
trainX,testX,trainY,testY = train_test_split(feature_data,target_data)

In [52]:
trainX[:2]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
12539,0.11,0.94,7,244,4,0,0,management,medium
3191,0.79,0.60,5,235,2,0,0,IT,medium

In [53]:
pipeline.fit(trainX, trainY)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('ordinalencoder',
                                                                   OrdinalEncoder())]),
                                                  Index(['sales', 'salary'], dtype='object')),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('minmaxscaler',
                                                                   MinMaxScaler()),
                                                                  ('selectkbest',
                                                                   SelectKBest(k=3))]),
                                                  Index([], dtype='object'))])),
                ('randomforestclassifier', RandomForestClassifier())])

In [54]:
pipeline.predict(testX[:2])

array([0, 1], dtype=int64)

In [55]:
pipeline.score(testX,testY)

0.9898666666666667

In [56]:
pipeline.steps[0][1].transformers

[('pipeline-1',
  Pipeline(steps=[('ordinalencoder', OrdinalEncoder())]),
  Index(['sales', 'salary'], dtype='object')),
 ('pipeline-2', Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                  ('selectkbest', SelectKBest(k=3))]), Index([], dtype='object'))]

In [58]:
params = {'columntransformer__pipeline-2__selectkbest__k':[2,3]}

In [60]:
gs = GridSearchCV(pipeline,param_grid=params,n_jobs = 4,cv = 5)

In [62]:
gs.fit(trainX,trainY)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('columntransformer',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('pipeline-1',
                                                                         Pipeline(steps=[('ordinalencoder',
                                                                                          OrdinalEncoder())]),
                                                                         Index(['sales', 'salary'], dtype='object')),
                                                                        ('pipeline-2',
                                                                         Pipeline(steps=[('minmaxscaler',
                                                                                          MinMaxScaler()),
                                                                                         ('selectkbest',
                                                                                          SelectKBest(k=3))]),
                                                                         Index([], dtype='object'))])),
                                       ('randomforestclassifier',
                                        RandomForestClassifier())]),
             n_jobs=4,
             param_grid={'columntransformer__pipeline-2__selectkbest__k': [2,
                                                                           3]})

In [63]:
gs.best_params_

{'columntransformer__pipeline-2__selectkbest__k': 3}

In [64]:
gs.best_score_

0.9894213922237045

In [65]:
gs.predict(testX[:2])

array([0, 1], dtype=int64)

In [66]:
gs.best_estimator_

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('ordinalencoder',
                                                                   OrdinalEncoder())]),
                                                  Index(['sales', 'salary'], dtype='object')),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('minmaxscaler',
                                                                   MinMaxScaler()),
                                                                  ('selectkbest',
                                                                   SelectKBest(k=3))]),
                                                  Index([], dtype='object'))])),
                ('randomforestclassifier', RandomForestClassifier())])

## Disadvantages of Pipeline
* Doesn't support Online Learning
* Online Learning will be discussed later

# Dealing imbalanced data in pipeline
* use imblearn make_pipeline rather than sciket_make pipeline as Random oversampler is not supported in scikit

In [74]:
target_data.value_counts()

0    11428
1     3571
Name: left, dtype: int64

In [75]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.pipeline import make_pipeline

In [76]:
#This make_pipeline is not scikit pipeline but imblearn pipeline which support Oversampler as part of pipeline
pipeline = make_pipeline(preprocessor, RandomOverSampler(), RandomForestClassifier())

In [77]:
pipeline.fit(trainX,trainY)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('ordinalencoder',
                                                                   OrdinalEncoder())]),
                                                  Index(['sales', 'salary'], dtype='object')),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('minmaxscaler',
                                                                   MinMaxScaler()),
                                                                  ('selectkbest',
                                                                   SelectKBest(k=3))]),
                                                  Index([], dtype='object'))])),
                ('randomoversampler', RandomOverSampler()),
                ('randomforestclassifier', RandomForestClassifier())])

In [78]:
pipeline.score(testX,testY)

0.9890666666666666