### 08-05-2020

### Wine Quality Data

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns; sns.set(color_codes=True)
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/winequality-white.csv', sep=';')

In [5]:
df.head(8)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6

In [6]:
df.quality.value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.2 KB

### some importent observations:
* After first experiment,we realize that we have too less of observations to get right class of the data 
* can we menimize/bukatize the target information 
* lets try to bukatize it into three classes

In [8]:
def f(r):
    if r <= 3:
        return 1
    elif r <= 6:
        return 2
    else: 
        return 3
    
df.quality = df.quality.map(f)

In [9]:
df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4747,5.6,0.26,0.50,11.4,0.029,25.0,93.0,0.99428,3.23,0.49,10.5,2
3747,6.8,0.22,0.30,10.6,0.070,67.0,194.0,0.99654,2.89,0.42,9.0,2
1054,7.0,0.31,0.52,1.7,0.029,5.0,61.0,0.99180,3.07,0.43,10.4,2
2111,6.5,0.22,0.25,17.1,0.050,44.0,138.0,1.00010,3.30,0.37,8.8,2
1418,6.9,0.35,0.74,1.0,0.044,18.0,132.0,0.99200,3.13,0.55,10.2,2
3607,6.8,0.14,0.18,1.4,0.047,30.0,90.0,0.99164,3.27,0.54,11.2,2
1608,6.9,0.27,0.49,23.5,0.057,59.0,235.0,1.00240,2.98,0.47,8.6,2
3062,6.8,0.28,0.43,7.6,0.030,30.0,110.0,0.99164,3.08,0.59,12.5,3
1965,6.8,0.27,0.28,13.3,0.076,50.0,163.0,0.99790,3.03,0.38,8.6,2
1027,8.0,0.55,0.17,8.2,0.040,13.0,60.0,0.99560,3.09,0.30,9.5,2

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lr = LogisticRegression()

In [13]:
trainX,testX,trainY,testY = train_test_split(df.drop(columns=['quality']),df.quality)

In [14]:
lr.fit(trainX,trainY)

C:\Users\saket\Anaconda333\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [15]:
lr.score(testX,testY)

0.8024489795918367

In [16]:
from sklearn.feature_selection import f_classif,SelectKBest

In [17]:
fs = SelectKBest(k=7,score_func=f_classif)

In [18]:
feature = df.drop(columns=['quality'])

In [19]:
target = df.quality

In [20]:
feature_fs = fs.fit_transform(feature,target)

In [21]:
trainX,testX,trainY,testY = train_test_split(feature,target)

In [22]:
lr = LogisticRegression()

In [23]:
lr.fit(trainX,trainY)

C:\Users\saket\Anaconda333\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [24]:
lr.score(testX,testY)

0.793469387755102

In [25]:
y_pred = lr.predict(testX)

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
conf_mat = confusion_matrix(y_pred=y_pred, y_true=testY)

In [28]:
pd.DataFrame(conf_mat, columns=['Predicted 1', 'Predicted 2', 'Predicted 3'], index=['Actual 1', 'Actual 2', 'Actual 3'])

          Predicted 1  Predicted 2  Predicted 3
Actual 1            0            3            1
Actual 2            0          908           42
Actual 3            0          207           64

### Observation from confusion matrix
* Diagonal count are the correct classification.
* 199 data actually belongs to class 3 but misclassified as class 2
* 38 belongs to class 2 but misclassified as class 3
* 0 data of class 1 is correctly classified
* 5 data of class 1 is available in test dataset but misclassified as class 2

In [29]:
df.quality.value_counts()

2    3818
3    1060
1      20
Name: quality, dtype: int64

### Understanding from the above observation 
* The classes seems tho imbalanced 
* ML models are succeptable to predicting the data belonging  to the maximum representative  class
* As we see the above confusion matrix the 0 class has very low data ,model is not at all predicting class 0
<hr>

### Dealing with imbalanced classes 
* Most popular techniqe is generating under representative data 
* Either we can repete information or using nearest neighbors, we can generate similiar data 
* Install a separate library for getting access to new sampling methods - https://imbalanced-learn.readthedocs.io/en/stable/install.html
* Other not so popular techniqe is to reducing overly representative data

In [30]:
from imblearn.over_sampling import SMOTE

In [31]:
from imblearn.over_sampling import RandomOverSampler

In [32]:
sampler = RandomOverSampler()
#sampler = SMOTE(k_neighbors=4)

In [34]:
feature_s, target_s = sampler.fit_sample(feature_fs, target)

In [35]:
feature_s.shape

(11454, 7)

In [36]:
pd.Series(target_s).value_counts()

3    3818
2    3818
1    3818
Name: quality, dtype: int64

In [37]:
lr = LogisticRegression()

In [38]:
trainX, testX, trainY, testY = train_test_split(feature_s, target_s)

In [39]:
lr.fit(trainX, trainY)

C:\Users\saket\Anaconda333\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [40]:
y_pred = lr.predict(testX)

In [41]:
confusion_matrix(y_pred=y_pred, y_true=testY)

array([[529, 184, 232],
       [329, 357, 301],
       [141, 151, 640]], dtype=int64)

In [42]:
lr.score(testX, testY)

0.5328212290502793

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
dt = DecisionTreeClassifier()

In [45]:
dt.fit(trainX, trainY)

DecisionTreeClassifier()

In [46]:
dt.score(testX, testY)

0.9479748603351955

In [47]:
y_pred = dt.predict(testX)

In [48]:
confusion_matrix(y_pred=y_pred, y_true=testY)

array([[945,   0,   0],
       [  2, 851, 134],
       [  2,  11, 919]], dtype=int64)