### Topics
* Solving classification problem

In [1]:
import pandas as pd

In [2]:
hr_data =  pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt')

In [4]:
hr_data = hr_data.rename(columns={'sales':'dept'})

In [5]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
hr_data.left.value_counts()

0    11428
1     3571
Name: left, dtype: int64

### Inference 
* Target left is descrete in nature so its a classification problem

In [7]:
target = hr_data.left

### Taking care of categorical columns 
* Dept and salary is categorical
* ML algorithm only works on numerical data 
* we will use preprocessor LabelEncoder to convert this into numeric data

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [14]:
hr_data['salary_en'] = le.fit_transform(hr_data.salary)

In [15]:
hr_data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'dept', 'salary', 'slaary_en', 'salary_en'],
      dtype='object')

In [41]:
le_salary = LabelEncoder()

In [42]:
le_salary.fit(hr_data.salary)

LabelEncoder()

In [43]:
hr_data.salary_en.value_counts()

1    7316
2    6446
0    1237
Name: salary_en, dtype: int64

In [44]:
le_dept = LabelEncoder()

In [45]:
le_dept.fit(hr_data.dept)

LabelEncoder()

In [46]:
le_dept.transform(['sales','support'])

array([7, 8], dtype=int32)

In [47]:
le_dept.classes_

array(['IT', 'RandD', 'accounting', 'hr', 'management', 'marketing',
       'product_mng', 'sales', 'support', 'technical'], dtype=object)

In [48]:
le_dept.transform(['IT', 'RandD', 'accounting', 'hr', 'management', 'marketing',
       'product_mng', 'sales', 'support', 'technical'])

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int32)

In [49]:
hr_data['dept_en'] = le_dept.transform(hr_data.dept)

In [50]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary,slaary_en,salary_en,dept_en
0,0.38,0.53,2,157,3,0,1,0,sales,low,1,1,7
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2,2,7
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2,2,7
3,0.72,0.87,5,223,5,0,1,0,sales,low,1,1,7
4,0.37,0.52,2,159,3,0,1,0,sales,low,1,1,7

In [51]:
#getting feature data from the complete information
feature_data = hr_data.drop(columns=['dept','salary','left'])

In [52]:
#splitting feature & target data into train & test
from sklearn.model_selection import train_test_split

In [53]:
trainX, testX, trainY, testY = train_test_split(feature_data, target)

In [54]:
trainX[:2]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,slaary_en,salary_en,dept_en
3100,0.73,0.88,4,148,2,0,0,1,1,8
2494,0.94,0.91,3,163,3,0,0,2,2,8

In [55]:
# Observation : You are not training the model with string information

### Classification Algorithms

* LogisticRegression, RandomForestClassifier, DecisicionTreeClassifier

In [56]:
from sklearn.ensemble import RandomForestClassifier

In [57]:
rf = RandomForestClassifier()

In [58]:
rf.fit(trainX,trainY)

RandomForestClassifier()

In [59]:
data = [0.38,0.53,2,157,3,1,0,'support','high']

In [60]:
le_salary.transform(['high'])

array([0], dtype=int32)

In [61]:
le_dept.transform(['support'])

array([8], dtype=int32)

In [62]:
data

[0.38, 0.53, 2, 157, 3, 1, 0, 'support', 'high']

In [63]:
data = [0.38,0.53,2,157,3,1,0,8,0]

In [66]:
rf.predict(testX)

array([0, 1, 1, ..., 0, 1, 0], dtype=int64)

In [67]:
rf.score(testX,testY)

0.9898666666666667

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
lr = LogisticRegression()

In [70]:
lr.fit(trainX,trainY)

C:\Users\saket\Anaconda333\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [71]:
lr.score(testX,testY)

0.7816

In [72]:
lr.predict(testX)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [73]:
testX['lr_predict'] = lr.predict(testX)

C:\Users\saket\Anaconda333\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
testX

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,slaary_en,salary_en,dept_en,lr_predict
4910,0.99,0.79,4,133,2,0,0,1,1,7,0
1795,0.85,0.96,4,217,5,0,0,1,1,9,0
12013,0.41,0.55,2,148,3,0,0,1,1,7,0
2389,0.93,0.63,3,160,4,1,0,1,1,7,0
1360,0.11,0.83,6,262,5,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
12478,0.76,0.83,5,227,5,0,0,1,1,7,0
1361,0.75,0.89,5,272,5,0,0,2,2,0,0
3925,0.14,0.68,4,273,5,1,0,2,2,3,0
635,0.39,0.57,2,127,3,0,0,1,1,7,0
8674,0.64,0.72,4,254,3,0,0,1,1,8,0

In [75]:
testX['rf_predict'] = rf.predict(testX.drop(columns=['lr_predict']))

C:\Users\saket\Anaconda333\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
testX

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,slaary_en,salary_en,dept_en,lr_predict,rf_predict
4910,0.99,0.79,4,133,2,0,0,1,1,7,0,0
1795,0.85,0.96,4,217,5,0,0,1,1,9,0,1
12013,0.41,0.55,2,148,3,0,0,1,1,7,0,1
2389,0.93,0.63,3,160,4,1,0,1,1,7,0,0
1360,0.11,0.83,6,262,5,0,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12478,0.76,0.83,5,227,5,0,0,1,1,7,0,1
1361,0.75,0.89,5,272,5,0,0,2,2,0,0,1
3925,0.14,0.68,4,273,5,1,0,2,2,3,0,0
635,0.39,0.57,2,127,3,0,0,1,1,7,0,1
8674,0.64,0.72,4,254,3,0,0,1,1,8,0,0

In [77]:
testX['actual'] = testY

C:\Users\saket\Anaconda333\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
testX.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,slaary_en,salary_en,dept_en,lr_predict,rf_predict,actual
4910,0.99,0.79,4,133,2,0,0,1,1,7,0,0,0
1795,0.85,0.96,4,217,5,0,0,1,1,9,0,1,1
12013,0.41,0.55,2,148,3,0,0,1,1,7,0,1,1
2389,0.93,0.63,3,160,4,1,0,1,1,7,0,0,0
1360,0.11,0.83,6,262,5,0,0,1,1,0,1,1,1