### 16-05-2020

In [1]:
print('Hi')

Hi

In [2]:
num1 = 100
num2 = 200
num1+num2

300

In [3]:
num3 = num1+num2
print(num3)

300

ctrl + enter : execute a cell
shift + enter: execute a cell and add new cell below
b            : add new cell below
a            : add new cell above

3 Mode of Execution :
- Interactive : cmd python >>> quit()
- Scripting code .py python filename.py
- IDE  ctrl + enter , shift + enter  
       cmd 
       edit

## session_3

In [5]:
print("Hi")

Hi

### Data types in python
* __int__ : 10 20 30    _Imuable_
* __float__ : 22.22 65.6 725.225  _imutable_
* __string__ : "python"  "python is easy to learn" "222"  _imutable_
* __List__ : [10,20,30,"python]  _Mutable_
* __Tupple__ : (10,20,30,40) _Imutable_
* __dictionary__ :  {"name":"ABC",'Age':25,"email":"abc@gmail.com" ,{key:value}  _Mutable_
* __Set__ : {10,20,30,40,50}  _Mutable_
* __Bool__ : True False  _Imutable_

In [7]:
s = "python is easy to learn"
print(type(s))

<class 'str'>

In [8]:
l = [10,20,30,40,50]
print(type(l))

<class 'list'>

In [9]:
d ={1:10,2:20,3:30}
print(type(d))

<class 'dict'>

In [10]:
num1 = 100
print(id(num1))

1742398144

In [14]:
num1 = 1000
num2 = 1000 
print(id(num1),id(num2))

24839008 24839024

In [15]:
num1 =100
print (num1,id(num1))
num1 = 200 
print(num1,id(num1))

100 1742398144
200 1742399744

In [19]:
l = [10,20,30,40,50]
print(id(l))
l.append(60)
print(l)
print(id(l))

24943792
[10, 20, 30, 40, 50, 60]
24943792

* __Mutable__ : Change the value at the same memory location : methods to add,update,delete
* __Imutable__ : Can not change the value at same memory location : no methods to add,update,delete

In [20]:
s = "python"
print(id(s))
s = "java"
print(id(s))

66385408
56215040

__Mutable__:
* List
* dict
* set <br>
__Imutable__:
* strings
* Int
* Bool
* tupple
* Float

In [21]:
num1 = 257
num2 = 257 
print(id(num1),id(num2))

24839216 24839200

In [29]:
num1 = 100
num1 = 200 
print(id(num1),id(num2))

1742399744 1742399744

In [31]:
s = 'python is very easy to learn'
s1 = 'python is very easy to learn'
print(id(s),id(s1))

25176960 25175168

### Iterable :
* List 
* set
* dict 
* str 
* tuple
##### Non_Iterable:
* float
* Int
* Bool

Mutable and Iterable : 
    list 
    dict 
    set
    
Immutable and Iterable :
    tuple 
    str
Immutable and non iterable :
    int 
    float 
    bool

Naming conventios for variables: 
    1. Underscore casing  fisrtName = "ABC" first_name = "ABC"
    2. Should start with alpha , digits are allowed but not at the start
    3. Lower cases for variables and Upper for constants

In [33]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [34]:
num1 = 900
print(num1)

900

In [35]:
IP_ADDRESS = "192.192.1.2"

In [36]:
First_name = "ABC"
print(First_name)

ABC

In [37]:
num1 = num2 = 200
print(num1,num2)

200 200

In [38]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [39]:
num1 = 100,200
print(type(num1))

<class 'tuple'>

In [41]:
num1 = 100
print(type(num1))

<class 'tuple'>

In [42]:
num1,num2 = 100,200
print(num1,num2)
num1,num2 = num2,num1
print(num1,num2)

100 200
200 100

Operators : 
    1. Arithmetic operators +,-,*,/,// - floor division,** - power.%
    2. Comparison operators ==,!=,<,>,<=,>=  True / False
    3. Membership operators in not in
    4. Identity Operators is is not

In [43]:
print(10 / 3)
print(10 // 3 )
print(10 % 3)
print(2 ** 3)

3.3333333333333335
3
1
8

In [44]:
s = "Python"
s1 = "Python"
print(s == s1)

True

In [45]:
print(10 > 100)

False

In [46]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1 == l2)

True

In [47]:
print(100 not in [10,20,30])

True

In [48]:
print(5 in (500,))

False

In [49]:
d = {1:1,2:4,3:9,4:16}
print(9 in d)

False

In [50]:
t = [100]
print(type(t))

<class 'list'>

In [51]:
num1 = 100
num2 = 100
print(num1 == num2)
print(num1 is num2)

True
True

In [52]:
l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))
print(l1 == l2)
print(l1 is l2)

24849104 24941872
True
False